// AJS : Override properties

.ajs.xs .player-volume-control, .ajs.xs .player-channel-volume-control-position {
  display: block;
}

.ajs .plugin-custom-controlbar .player-channel-volume-control-position {
  margin-left: -25px;
}

.ajs .ajs-container.left-container {
  text-align: left;
}