// Global element position
// ----------------------------------------------------------------------------------------------------------
.padding-none {
  padding: 0;
}

.padding-left-none {
  padding-left: 0;
}

.padding-right-none {
  padding-right: 0;
}

.margin-left-none {
  margin-left: 0;
}

.margin-bottom {
  margin-bottom: 40px;
}

.margin-top {
  margin-top: 40px;
}

.width-full {
  width:100%;
}


// Interface graphic element
// ----------------------------------------------------------------------------------------------------------

.button {
  cursor: pointer;
}

.border {
  border: solid 1px lighten($secondaryBackgroundColor, 50%);
}

.divider-vertical {
  border-right: solid 1px $secondaryBackgroundColor;
  display: inline-block;
  min-height: 20px;
}

// Component shape
.round-shape {
  background: $secondaryBackgroundColor;
  border-radius: 50%;
  color: white;
  width: 25px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;

  &.big {
    background: $mainColor;
    display: table-cell;
    font-size: 12px;
    width: 91px;
    height: 91px;
    word-break: break-all;
    text-transform: uppercase;
    line-height: 15px;
    vertical-align: middle;
    position: relative;
    left: 55%;

    &:hover {
      background: lighten($mainColor, 10%);
      color: white;
    }

    &.information {
      background: none;
      border: solid 1px darken($secondaryColor, 15%);
      color: darken($secondaryColor, 15%);
      font-size: 20px;
      text-transform: none;
    }
  }

  // Only circle border, no background with different size
  &.outline {
    background: none;
    border: solid 1px darken($secondaryColor, 15%);
    color: darken($secondaryColor, 15%);
    font-size: 20px;
    line-height: 55px;
    text-transform: none;

    &.small {
      width: 60px;
      height: 60px;
      line-height: 55px;
    }

    &.big {
      width: 91px;
      height: 91px;
      line-height: 15px;
    }
  }


}

// Arrow element
.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $mainBackgroundColor;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid $mainBackgroundColor;
}


// Unity
.unit-px {
  &:after {
    content:"px";
    padding-left: 2px;
  }
}

// Button
.add-value,
.remove-value{
  border : solid 1px white;
  border-radius: 50%;
  color:white;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  width: 16px;
  height: 16px;
  line-height: 14px;
  bottom: 5px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    border : solid 1px $mainColor;
    color: $mainColor;
  }
}
