// New component
// ----------------------------------------------------------------------------------------------------------

.background-video {
  background-color: $mainBackgroundColor;
  display: block;

  &.bottom {
    border-bottom: solid 10px $secondaryColor;
  }
}

.video-height {
  height: 320px;
}

// Component Option
// ----------------------------------------------------------------------------------------------------------
.option-panel {
  display: block;
  padding-top: 10px;
  padding-bottom: 0;

  .option-item {
    border-bottom: solid 1px white;
    padding-bottom: 5px;

    &.height-medium {
      height: 55px;
    }

    .option-value.space {
      padding-left: 15px;
      padding-right: 15px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  }

  .option-label {
    color: white;
    display: block;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-size: 13px;
    height: 24px;

    .ajs-icon {
      display: inline-block;
      font-size: 50px;
      top: -5px;
      position: relative;
    }
  }
  .option-value {
    box-shadow: none;
    color: $secondaryColor;
    display: block;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
  }

  .parameter {
    display: inline-block;
    text-align: center;
    height:69px;

    &.half-width {
      width: 48%;
    }
    &.tc-button {
      margin: 0;
      padding: 0;
      position: relative;
      top: -18px;

      .round-shape-outline {
        background-color: white;
        border-radius: 50%;
        display: block;
        width: 10px;
        height: 10px;
        position: relative;
        margin-left: 5px;

        &:after {
          border: solid 1px white;
          content: "";
          border-radius: 50%;
          display: block;
          width: 18px;
          height: 18px;
          position: relative;
          top: -0.30em;
          left: -0.28em;
        }

        &.active {
          background-color: $secondaryColor;
        }
      }
    }
  }

  // TEXT COMPONENT
  .keywords-value,
  .keywords-text {
    color: white;
    display: block;
  }
  .keywords-value {
    font-size: 36px;
    height: 50px;
  }
  .keywords-text {
    font-size: 18px;
    height: 20px;
  }
}

// Info panel
.info-panel {
  display: block;
  padding-top: 0;

  .info-item {
    height: 134px;
  }

  .title {
    color: $mainBackgroundColor;
    display: block;
    font-size: 18px;
  }

  .sub-title {
    color: darken($secondaryColor, 15%);
    display: block;
    font-size: 16px;
  }

  // Specific position
  .divider-vertical {
    border-right: solid 1px lighten($secondaryBackgroundColor, 50%);
    height: 100%;
  }
}

// Component screenshot
&.screenshot-panel {

  .video-height {
    height: 266px;
  }

  .background-video {
    min-height: 132px;
  }

  // Specific postion on top-left corner
  .round-shape.overlay {
    position: absolute;
    top: 10px;
    left: 10px;
  }
  .option-panel .option-item {
    padding-bottom: 32px;
  }
  .arrow-left {
    left: -10px;
    position: absolute;
    top: 56px;
  }
  .arrow-right {
    right: -10px;
    position: absolute;
    top: 20%;
    z-index: 10
  }
  .capture {
    top: 10px;
  }
  .img-analysed .background-video {
    min-height: 265px;
  }
}

// Specific component
// ----------------------------------------------------------------------------------------------------------
.tab-panel {

  &.keywords {
    display: block;
    width: 100%;
    border-bottom: none;
  }

  .tab-item {
    height: 180px;
    width: 100%;
    top: 55%;
    margin-top: 10px;
    position: absolute;
  }
}

