// Variables
// ----------------------------------------------------------------------------------------------------------
$mainColor: #0099cc; // Blue
$secondaryColor: #2DFFCB; // Green-blue
$mainBackgroundColor: #333333; // Dark gray
$secondaryBackgroundColor: #525252; // Medium Gray